## Listas
Son contenedores que permiten almacenar una colección de objetos en un orden determinado. Se pueden acceder, añadir o eliminar objetos de forma sencilla.

In [1]:
L1 = [] # Lista vacia

In [2]:
L2 = ['a', 'e', 'i', 'o', 'u' ] # Lista con valores iniciales

In [3]:
L3 = [2,3,5,7,11] # Lista con valores enteros

In [4]:
L4 = ['a', 5, True, "Welton Vieira"] # Una lista puede guardar varios tipos distintos.

Al acceder al ella hay que tener cuidado, ya que la lista es heterogenea.

In [5]:
L4

['a', 5, True, 'Welton Vieira']

In [8]:
L5 = [0] * 10 # Hay que tener cuidado, porque aqui lo que va hacer es crear una lista con 10 elementos.

In [9]:
L5

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

### Los elementos de una lista

In [10]:
L4[0] # Las listas en Python empiezan en la posición cero como en C o Java

'a'

In [11]:
L4[1]

5

In [12]:
L5[4] = 3.1415 #Modificar el quinto elemento de la lista L5 con el nuevo valor.

In [13]:
L5

[0, 0, 0, 0, 3.1415, 0, 0, 0, 0, 0]

In [15]:
L5[13] #Error al intentar acceder un elemento que esté fuera del rango de la lista. En ese caso el máximo índice es 9.

IndexError: list index out of range

In [16]:
L4

['a', 5, True, 'Welton Vieira']

In [17]:
L4[0:2] # Para acceder a posiciones multiples (incluye la primera, pero no la última)

['a', 5]

In [20]:
L5[1:4] = [1,2,3] # Para modificar una lista de la posición 1 hasta la posición 3.

In [19]:
L5

[0, 1, 2, 3, 3.1415, 0, 0, 0, 0, 0]

In [21]:
L5.append(8) #Insertar un nuevo elemento al final de la lista. Aqui ese elemento estará en la posición 10.

In [22]:
L5

[0, 1, 2, 3, 3.1415, 0, 0, 0, 0, 0, 8]

In [31]:
L5.remove(8) #Va eliminar el dato 3 de la lista. Lo buscará y se la primera ocurrencia lo encuentra lo elimina.

In [32]:
L5

[0, 1, 2, 3.1415, 0, 0, 0, 0, 0]

In [33]:
L5.append(8)

In [34]:
L5

[0, 1, 2, 3.1415, 0, 0, 0, 0, 0, 8]

In [36]:
L5.reverse()# Invertir la lista.

In [37]:
L5

[8, 0, 0, 0, 0, 0, 3.1415, 2, 1, 0]

In [38]:
L5.count(0) # Saber cuantos elementos ceros tiene en la lista

6

In [39]:
L5.index(2)# Saber en que índice de la lista se encuentra el elemento 2

7

In [40]:
len(L5) #Saber el tamaño de lista.

10

### Operaciones interesantes con las listas

In [41]:
L = [1,2,3,4,5,6]

In [45]:
L[1::2] # Acceder elementos de la posición 1 hacia adelante de dos en dos (Posiciones Impares)

[2, 4, 6]

In [46]:
L[0::2] #Sacar elementos de la posición cero hacia adelante de dos en dos (Posiciones Pares)

[1, 3, 5]

In [47]:
L[::2] #Se puede hacer lo mismo que el anterior ocultando el primer elemento

[1, 3, 5]

In [48]:
L[-1] #Devolvera el último elemento.

6

In [49]:
8 in L #Saber si un elemento se encuentra en la lista

False

In [50]:
4 in L

True

### Se puede extrar elementos de una lista

**Por ejemplo:** Poner el contenido de una string en una lista, donde cada palabra debe estar en una posición de esa nueva lista.

In [49]:
"Hola que tal estás".split(" ")#Separa las palabras por un espacio que hay entre esas palabras.

['Hola', 'que', 'tal', 'estás']

In [51]:
"Hola que tal   estás".split(" ")#En ese caso se observa que hay dos espacios almacenados en la lista.

['Hola', 'que', 'tal', '', '', 'estás']

In [52]:
"1,2,3,4,5,6,7,8,9,10".split(",")#Separar los elementos de un string por la coma.

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

## Bucles

Los bucles **For** iteran sobre una colección (una lista, un string, un objeto iterable)

In [52]:
for numero in L:
    print(numero)

1
2
3
4
5
6

Para iterar una colección dentro de un rango.

In [53]:
for x in range(0,20):
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [2]:
for x in range(0,10):# range(10) = range(0,10)
    print(x)

0
1
2
3
4
5
6
7
8
9

In [3]:
for c in "Welton Vieira":#Se puede hacer tambien con un string
    print(c)

W
e
l
t
o
n

V
i
e
i
r
a

 Se puede utilizar para hacer calculos de una lista de notas y calcular su media.

In [5]:
notas = [3.5, 6.7, 8, 9, 4.5]
suma = 0
for nota in notas:
    suma = suma + nota
    
print(suma/len(notas))

6.34

El bucle **while** se repite hasta una condición es falsa.

In [6]:
count = 0
while(count < 10):
    print(count)
    count += 1

0
1
2
3
4
5
6
7
8
9

In [7]:
primos = [2,3,5,7,11,13,17,19,23,29]
for p in primos:
    print(p)

2
3
5
7
11
13
17
19
23
29

Hay una variante del bucle for que permite no sólo iterar sino que tambien recuperar el índice del objeto que se encuentra iterando. Para eso se utiliza una variable a mayores, **idx** por ejemplo guardará el valor del índice del objeto iterable. En el mismo bucle, hay que enumerar la colección para que funcione correctamente. Ese cometido lo hace la función **enumerate**.

In [8]:
primos = [2,3,5,7,11,13,17,19,23,29]
for idx, p in enumerate(primos):
    print(idx,p)

0 2
1 3
2 5
3 7
4 11
5 13
6 17
7 19
8 23
9 29

Para tener acceso solamente al índice.

In [10]:
for idx in range(len(primos)):
    print(idx)

0
1
2
3
4
5
6
7
8
9

Para hace lo mismo que **In [8]**, pero de forma más tradicional accediendo la lista por sus elementos.

In [12]:
for idx in range(len(primos)):
    print(idx, primos[idx])

0 2
1 3
2 5
3 7
4 11
5 13
6 17
7 19
8 23
9 29

Reto: Buscar en internet la [Criva de Erastóteles](https://es.wikipedia.org/wiki/Criba_de_Erat%C3%B3stenes)

## Tupla

Una **tupla** es una colección de objetos que no puede modificarse (tiene tamaño y contenido fijo)

In [21]:
p1 = (1,)

In [22]:
p1

(1,)

In [23]:
p2 = (1,2,3,4)

In [24]:
p2

(1, 2, 3, 4)

In [27]:
p3 = (1,2,'c',3.1415)# Permite tambien como las listas elementos heterogeneos

In [26]:
p3

(1, 2, 'c', 3.1415)

Acceder los elementos de la misma forma que las listas.

In [30]:
p3[2]

'c'

In [31]:
p3[1]

2

In [33]:
p3[0:2]#Acuerdate siempre el el ultimo elemento muestra ese indice menos uno.

(1, 2)

Se puede asignar una tupla a un conjunto de variables y lo que hace es almacenar en esas variables el contenido de la tupla

In [34]:
a,b,c,d = p3

In [35]:
a

1

In [36]:
b

2

In [37]:
c

'c'

In [38]:
d

3.1415

Se puede crear una tupla desde una lista.

In [48]:
tupla = list(p3)

In [41]:
p3

(1, 2, 'c', 3.1415)

In [42]:
tupla

[1, 2, 'c', 3.1415]

Se puede tambien crear una lista desde una tupla.

In [43]:
lista = tuple(tupla)

In [44]:
tupla

[1, 2, 'c', 3.1415]

In [45]:
lista

(1, 2, 'c', 3.1415)

**Ejercicio:** Recoger números escritos por teclado separados por comas y almacenar en una **_Lista_** y despues convertir esa lista en una **_Tupla_**.

In [60]:
numeros = input("Escribe números separados por comas: ")#Almacenando dados del teclado.
listaNumeros = numeros.split(",")#Almacenando la información recogida del teclado en una lista.
print("Lista de números: " + str(listaNumeros))#Imprimiendo el contenido de la lista.
tuplaNumeros = tuple(listaNumeros)#Conviertiendo una lista a una tupla.
print("Tupla de números: " + str(tuplaNumeros))#Imprimiendo el contenido de una tupla.

Escribe números separados por comas: 1,2,3,4,5,6,7,8,9,10
Lista de números: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']
Tupla de números: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Cada elemento de la lista o de la tupla son caracteres

In [61]:
for i in listaNumeros:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [62]:
for i in tuplaNumeros:
    print(i)

1
2
3
4
5
6
7
8
9
10

**Nota:** No se puede operar con ellos sin que haga una conversión pertinente.

In [63]:
for i in listaNumeros:
    print(i+1)

TypeError: can only concatenate str (not "int") to str

Para solucionar ese problema, como habia comentado anteriormente, hay que convertir los elementos(caracteres) en números

In [66]:
for i in listaNumeros:
    print(int(i) + 1)

2
3
4
5
6
7
8
9
10
11

In [67]:
for i in tuplaNumeros:
    print(int(i) + 1)

2
3
4
5
6
7
8
9
10
11

## Diccionarios
Es una collección no ordenada de pares de valores donde lo que indexados por **clave <-> valores**, es decir, no indexa por posición sino utilizando las **claves**.

In [69]:
nombre = "Welton Vieira"
print("Hola %s" %nombre)#Estilo del C en la forma de utilizar parámetros de impresión

Hola Welton Vieira

In [70]:
print("Esto son los números primos: %s" %primos)

Esto son los números primos: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

Maquetando por decimales

In [74]:
media = suma/len(listaNumeros)
print(media)

3.17

In [75]:
print("Esto es un número decimal: %d" %media)

Esto es un número decimal: 3

In [76]:
print("Esto es un número real: %f" %media)

Esto es un número real: 3.170000

In [77]:
print("Esto es un número real con dos casas decimales: %.2f" %media)

Esto es un número real con dos casas decimales: 3.17

In [78]:
print("Esto es un número real con tres casas decimales: %.3f" %media)

Esto es un número real con tres casas decimales: 3.170

In [79]:
print("Esto es un número real con cinco casas decimales: %.5f" %media)

Esto es un número real con cinco casas decimales: 3.17000

In [80]:
print("Esto es un número real con ninguna casa decimal: %.0f" %media)

Esto es un número real con ninguna casa decimal: 3

Los diccionarios de datos en python estan envuelto por llaves matemáticas, ejemplo:

In [82]:
edad = {
    "Welto Vieira":30,
    "Maria":20,
    "Ricardo":30,
    "Antonio":45
}
edad

{'Welto Vieira': 30, 'Maria': 20, 'Ricardo': 30, 'Antonio': 45}

como se observa, que cada elemento del diccionario estan almacenados por clave valor donde se separan por dos puntos (**:**).

modificar un elemento del diccionario con clave "Antonio"

In [84]:
edad["Antonio"] = 50
edad

{'Welto Vieira': 30, 'Maria': 20, 'Ricardo': 30, 'Antonio': 50}

Para saber las claves que contiene el diccionario

In [85]:
edad.keys()

dict_keys(['Welto Vieira', 'Maria', 'Ricardo', 'Antonio'])

Para saber todos los valores.

In [86]:
edad.values()

dict_values([30, 20, 30, 50])

Para saber la longitud del diccionario.

In [87]:
len(edad)

4

Para saber si existe o no un elemento dentro del diccionario.

In [89]:
"Welto Vieira" in edad #Para saber si esta

True

In [90]:
"Welto Vieira" not in edad #Para saber si no esta

False

In [91]:
"Pepe" in edad

False

Para borrar un elemento de un diccionario

In [92]:
del edad["Welto Vieira"]

In [93]:
edad

{'Maria': 20, 'Ricardo': 30, 'Antonio': 50}

**Nota:** El diccionario trabaja como una clase de Java.